SECRET_KEY=

DEBUG=

# Настройки базы данных
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

#настройка  Celery
CELERY_BROKER_URL
CELERY_RESULT_BACKEND

TELEGRAM_BOT_TOKEN=